@import "tailwindcss";
:root {
  font-family: "Poppins", sans-serif;
  --text: 400 1rem/1.5 var(--font-family);
  --text-sm: 400 0.875rem/1.4 var(--font-family);
}

@theme {
  --color-text-primary: #292524;
  --color-text-secondary: #57534e;
  --color-text-tertiary: #8f8881;
  --color-text-highlight: #e43a12;
  --color-surface-primary: #ffffff;
  --color-surface-secondary: #fee7d6;
  --color-stroke-default: #d6d3d1;
  --color-stroke-highlight: #f3541c;
  --color-semantic-error: #dc2626;
}

@layer components {
  .text-color-primary {
    @apply text-text-primary;
  }
  .text-color-secondary {
    @apply text-text-secondary;
  }
  .text-color-tertiary {
    @apply text-text-tertiary;
  }
  .text-color-highlight {
    @apply text-text-highlight;
  }
  .surface-primary {
    @apply bg-surface-primary;
  }
  .surface-secondary {
    @apply bg-surface-secondary;
  }
  .stroke-highlight {
    @apply border-stroke-highlight;
  }
  .stroke-default {
    @apply border-stroke-default;
  }
  .semantic-error {
    @apply text-semantic-error;
  }
}

@layer base {
  h1 {
    @apply text-[32px] leading-[120%] font-bold;
  }
  h2 {
    @apply text-[24px] leading-[120%] font-bold;
  }
  h3 {
    @apply text-[20px] leading-[120%] font-bold;
  }
  h4 {
    @apply text-[16px] leading-[120%] font-bold;
  }
}

@layer images {
  .responsive-image {
    @apply h-full object-cover rounded-[4px];
  }
}
