@import "tailwindcss";

@theme {
  --color-brand-light: #f67841;
  --color-brand-mid: #f3541c;
  --color-brand-dark: #e43a12;
  --color-text-primary: #292524;
  --color-text-secondary: #57534e;
  --color-text-tertiary: #8f8881;
  --color-text-highlight: #e43a12;
  --color-surface-primary: #ffffff;
  --color-surface-secondary: #fee7d6;
  --color-surface-disabled: #e7e5e4;
  --color-stroke-default: #d6d3d1;
  --color-stroke-highlight: #f3541c;
  --color-semantic-error: #dc2626;
  --color-supporting-orange: #f9a474;
  --color-supporting-yellow: #fedf6f;
  --color-supporting-green: #c7d78d;
  --color-supporting-blue: #b8cedc;
  --color-supporting-violet: #c3b2e7;
  --color-supporting-pink: #f682a5;
}

@layer components {
  .brand-color-light {
    @apply bg-brand-light;
  }
  .brand-color-mid {
    @apply bg-brand-mid;
  }
  .brand-color-dark {
    @apply bg-brand-dark;
  }
  .text-color-primary {
    @apply text-text-primary;
  }
  .text-color-secondary {
    @apply text-text-secondary;
  }
  .text-color-tertiary {
    @apply text-text-tertiary;
  }
  .text-color-highlight {
    @apply text-text-highlight;
  }
  .surface-primary {
    @apply bg-surface-primary;
  }
  .surface-secondary {
    @apply bg-surface-secondary;
  }
  .surface-disabled {
    @apply bg-surface-disabled;
  }
  .stroke-highlight {
    @apply border-stroke-highlight;
  }
  .stroke-default {
    @apply border-stroke-default;
  }
  .semantic-error {
    @apply text-semantic-error;
  }
  .supporting-orange {
    @apply bg-supporting-orange;
  }
  .supporting-yellow {
    @apply bg-supporting-yellow;
  }
  .supporting-green {
    @apply bg-supporting-green;
  }
  .supporting-blue {
    @apply bg-supporting-blue;
  }
  .supporting-violet {
    @apply bg-supporting-violet;
  }
  .supporting-pink {
    @apply bg-supporting-pink;
  }
}

@layer base {
  h1 {
    @apply text-[32px] leading-[120%] font-bold;
  }
  h2 {
    @apply text-[24px] leading-[120%] font-bold;
  }
  h3 {
    @apply text-[20px] leading-[120%] font-bold;
  }
  h4 {
    @apply text-[16px] leading-[120%] font-bold;
  }
}

@layer images {
  .responsive-image {
    @apply h-full object-cover rounded-[4px];
  }
}
